<h1>Congratulations</h1>
<p>
You are now participating in the current challenge!  Good luck!
</p>

<hr>

<h2>Subject: <%= @current_challenge.title %></h2>

<p>Description: <%= @current_challenge.description %></p>

<%= link_to('Submit Entry', challenge_manage_entry_edit_path, class: 'btn btn-success') %>
