// Place all the styles related to the admin/challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* --- challenges#index stylings --- */


.challenge {
    padding: 40px;
    border-bottom: 1px dotted gray;
    &:hover {
        background-color: #f0f0f0;
    }
}

.individual_challenge {
    .valign_container {
        display: table-cell;
        vertical-align: middle;
        width: inherit;
        height: 200px;
        .challenge_image {
            margin: auto;
            max-height: 200px;
        }
    }
}



/* --- challenge#show stylings --- */

.challenge_header {
    margin: 3em 0 4em 0;
}

.participation {
    margin: auto;
    padding-bottom: 12em;

    .image-container {
        margin-bottom: 3em;
        img {
            margin: auto;
            display: block;
            border: 1px solid #ccc;
            padding: 1em;
        }
    }
}

.participation_sidebar {
  p {
    margin-top: 1.3125rem;
  }
}

.voting {
    .entry-img {
       width:100%;
    }
}




.countdown {text-align:center;margin-left:auto;}
.countdown_amount {
  font-size: 7.5rem;
  font-weight:500;
  line-height:1em;
  color:#666;
}

@media(max-width: 380px) {
  html {
    font-size: 5px !important;
  }
  .countdown {
    text-align: center;
  }
}


/*.participants_count {
  color:#888;
  line-height:1em;
  margin-top:1em;
}
.challenge_date {
  color:#777;
  line-height:1em;
  margin-top:1em;
}*/
.countdown_label {
  font-size:1.5em;
}
.countdown_section {
  display:inline-block;
  text-align:center;
  padding:0 1rem;
}
.hasCountdown {
  color:#aaa;
}


@media(max-width: 766px) {
  .countdown-info {
    margin: 20px 0;
  }
  .current-challenge-info{
    text-align: center;
  }
  .register-btn {
    width: 100%;
  }
}


/* --- end --- */

