// Place all the styles related to the admin/challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.challenge {
    padding: 40px;
    border-bottom: 1px dotted gray;
    &:hover {
        background-color: #f0f0f0;
    }
}

.individual_challenge {
    .valign_container {
        display: table-cell;
        vertical-align: middle; 
        width: inherit;
        height: 200px;
        .challenge_image {
            margin: auto;
            max-height: 200px;
        }
    }
}

/* --- move to modules.css in the future --- */

.countdown_timer {
    font-size: 3.5em;
    font-weight: 700;
    h4 {
        color: gray;
    }
    span {
        font-size: 1.5rem;
    }
}

/* --- end --- */