<div class="row">
  <div class="col-sm-5 col-md-4 sidebar">
    <ul class="nav nav-sidebar">
      <li><%= link_to('Users', admin_users_path) %></li>
      <li><%= link_to('Manage Challenges', admin_manage_challenges_path) %></li>
      <li><%= link_to('Manage Pages', admin_manage_pages_path) %></li>
    </ul>
   </div>
</div>
